name: NTC Scraper Cron

on:
  schedule:
    # Запуск каждые 2 часа
    - cron: '0 */2 * * *'
  workflow_dispatch: # Кнопка для ручного запуска

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Разрешаем workflow писать в репозиторий

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install System Dependencies (Tesseract)
        run: |
          sudo apt-get update
          sudo apt-get install -y tesseract-ocr tesseract-ocr-rus libtesseract-dev

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Libraries
        run: pip install -r requirements.txt

      - name: Run Scraper
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: python scraper.py
